.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;

}


.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer>div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1.8rem;
  display: flex;
  margin-left: 1.2rem;

}

.landingMainContainer>div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

.landingMainContainer>div:nth-child(2) img {
  height: 70vh;
  width: auto;
}



/* ----------------------------------------------------------------- */


@media (max-width: 768px) {

  .landingPageContainer {
    height: auto;
    padding: 1rem;
    text-align: center;
  }

  .landingPageContainer nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .landingPageContainer nav h2 {
    font-size: 1.5rem;
  }

  .landingPageContainer nav .navlist {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .landingMainContainer {
    flex-direction: column;
    padding: 1.2rem;
    height: auto;
    text-align: center;
    gap: 2rem;
  }

  .landingMainContainer > div:nth-child(1) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .landingMainContainer > div:nth-child(1) div[role='button'] {
    margin: 1rem auto 0;
  }

  .landingMainContainer > div:nth-child(1) div[role='button'] a {
    font-size: 1rem;
  }

  .landingMainContainer > div:nth-child(2) img {
    height: 250px;
    width: auto;
  }
}


/* //////////////////////////////////////////////////////////////////////// */



.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
  background-color: rgb(215, 208, 248);
  height: 3.9rem;

}

.navBar button{
  margin-left: 1rem;
}

.navBar  p{
  cursor: pointer;
}


.txt-vdo{
 margin-bottom: 1.5rem;
}

.btn-logout {

  top: 0.2rem;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.videocall-image{
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 0.5rem;
}


.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

.his-page{
  margin-left: 1rem;
  margin-top: 0.5rem;

}

.history-txt{
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: rgb(112, 112, 211);
}


/* ========= Signup Form ======= */
.signup-form{
  width: 100vw;
  height: 100vh;
  /* background: url("/background.png"); */
  background-repeat: no-repeat;
  background-size: cover;
} 

.videocall-sec{
  cursor: pointer;
}

.return-home{
  padding: 0.5rem;
  color: blueviolet;
  cursor: pointer;
}

.retrn-back{
  padding: 1rem;
  color:blueviolet;
  cursor: pointer;
}

.get-started{
  cursor: pointer;
}